<div id="sgs-brands-hub">
    <div class="sgs-brands-section">
        {{#each brands as |brand|}}
            <img src="{{brand.img_url}}" class="sgs-brand-logo" alt="{{brand.name}}">
        {{/each}}
    </div>
</div>